<div class="container bg-container">
    <br>
    <br>
    <br>
    <div class="gabriels-header">
        <h4>
            <button class="btn btn-primary" (click)="prevWeek()">
                < PREV WEEK
            </button>
            &nbsp;&nbsp;&nbsp;<strong>LIST OF EVENTS</strong>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default" (click)="nextWeek()">
                NEXT WEEK >
            </button> 
        </h4>
        <p *ngIf="lastMonday"><b>From: {{lastMonday | date }}</b></p>   
        <p *ngIf="nextSunday"><b>To  : {{nextSunday | date }}</b></p>    
    </div>
    <br>
    <br>
    <br>
    <table *ngIf="events" class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>IAMINTABLE</td>
            </tr>          
        </tbody>
    </table>
</div>


